body {
  margin-top: 64px !important;
}
sub[id], h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
  /* allows sub and h# with id to anchor with the offset of the body margin */
  padding-top: 75px !important;
  margin-top: -75px !important;
}
#jsdocpNav {
  width: 100%;
  height: 56px;
  padding: 8px;
  font-size: 32px;
  font-family: Arial;
  background-color: #E0E0E0;
  box-shadow: 2px 4px 10px rgba(0,0,0,.2);
  position: fixed;
  overflow: hidden;
  z-index: 999999;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
#jsdocpNav.jsdocp-nav-vertical {
  width: 56px;
  height: 100%;
  flex-direction: column;
}
#jsdocpNav.jsdocp-nav-vertical.jsdocp-nav-right {
  left: inherit;
  right: 0;
}
@media only screen and (max-width: 680px) {
  body {
    margin-top: inherit !important;
  }
  sub[id] {
    padding-top: inherit !important;
    margin-top: inherit !important;
  }
  #jsdocpNav {
    top: inherit;
    bottom: 0;
    transition: bottom 0.3s;
  }
  #jsdocpPkgName {
    display: none;
  }
}
#jsdocpVersions {
  height: 100%;
  display: inline-flex;
  align-self: center;
  font-size: 24px;
  margin-left: auto;
  color: #000000;
  background-color: #ffffff;
  direction: rtl;
}
#jsdocpNav.jsdocp-nav-vertical #jsdocpVersions, #jsdocpNav.jsdocp-nav-vertical #jsdocpVersionsIcon {
  margin-top: auto;
}
#jsdocpNav.jsdocp-nav-vertical #jsdocpVersions {
  display: none;
}
#jsdocpNav:not(.jsdocp-nav-vertical) #jsdocpVersionsIcon {
  display: none;
}
#jsdocpNav > a {
  text-decoration: none;
  color: inherit;
  margin: 0px 12px;
  padding: 0;
  height: auto;
  align-self: center;
  align-items: center;
  overflow: hidden;
}
#jsdocpNav.jsdocp-nav-vertical > a {
  margin: 0px;
  height: 56px;
}
#jsdocpNav.jsdocp-nav-vertical .jsdocp-logo > :not(:first-child) {
  display: none;
}
a.jsdocp-logo * {
  width: inherit;
  height: 40px;
  line-height: 1em;
  padding: 0;
  vertical-align: text-top;
}
a.jsdocp-icon, a.jsdocp-icon img, a.jsdocp-icon svg {
  height: 24px;
  width: 24px;
  display: inline-flex;
}
.jsdocp-icon-svg-el {
  fill: #000000;
}
.jsdocp-remove-me {
  display: none !important;
}