<div id="jsdocpChangelogContent" data-title="<?js= (env.conf.opts.jsdocp.changelog && env.conf.opts.jsdocp.changelog.title) || '' ?>"><?js= env.meta.changelogHTML ?></div>

<?js for (let scrpt of env.conf.opts.jsdocp.scripts) { ?>
  <script
    <?js for (let scrptAttr in scrpt) { ?>
    <?js= scrptAttr ?>="<?js= scrpt[scrptAttr] ?>" 
    <?js } ?>
  ></script>
<?js } ?>

<script src="jsdocp/scripts/index.js"></script>