  <!-- https://realfavicongenerator.net/ -->
  <?js for (let lnk of env.conf.opts.jspub.pages.links) { ?>
    <link
      <?js for (let lnkAttr in lnk) { ?>
      <?js= lnkAttr ?>="<?js= lnk[lnkAttr] ?>" 
      <?js } ?>
    >
  <?js } ?>

  <?js for (let meta of env.conf.opts.jspub.pages.metas) { ?>
    <meta
      <?js for (let metaAttr in meta) { ?>
      <?js= metaAttr ?>="<?js= meta[metaAttr] ?>" 
      <?js } ?>
    >
  <?js } ?>

  <link type="text/css" rel="stylesheet" href="jspub/styles/index.css">