  <script>
    // optionally remove any elements (e.g. readme headers that are duplicated in the menu)
    window.addEventListener('load', function(event) {
      var els = document.querySelectorAll('.remove-me');
      for (var i = 0, ln = els && els.length; i < ln; i++) els[i].parentElement.removeChild(els[i]);
    });
  </script>
  
  <!-- https://realfavicongenerator.net/ -->
  <?js for (let lnk of env.conf.opts.pages.links) { ?>
    <link
      <?js for (let lnkAttr in lnk) { ?>
      <?js= lnkAttr ?>="<?js= lnk[lnkAttr] ?>" 
      <?js } ?>
    >
  <?js } ?>

  <?js for (let meta of env.conf.opts.pages.metas) { ?>
    <meta
      <?js for (let metaAttr in meta) { ?>
      <?js= metaAttr ?>="<?js= meta[metaAttr] ?>" 
      <?js } ?>
    >
  <?js } ?>

  <link type="text/css" rel="stylesheet" href="jspub/styles/index.css">