<div id="jsdocpNav" class="<?js= env.conf.opts.jsdocp.menu.className ?>">
  <a href="index.html" id="jsdocpLogo" title="<?js= env.meta.package.name ?>" class="jsdocp-logo <?js= env.conf.opts.jsdocp.menu.logo.anchorclassName ?>">
    <b class="<?js= env.conf.opts.jsdocp.menu.logo.className ?>">
    <?js if (env.meta.logo) { ?>
      <?js= env.meta.logo ?>
    <?js } else if (env.conf.opts.jsdocp.menu.logo.src) { ?>
      <img src="<?js= env.conf.opts.jsdocp.menu.logo.src ?>" />
    <?js } ?>
    </b>
    <b id="jsdocpPkgName"><?js= env.meta.package.name ?></b>
    <b>|</b>
    <hr/>
  </a>
  <a href="https://www.npmjs.com/package/<?js= env.meta.package.name ?>" id="jsdocpModule" title="npm"
    class="jsdocp-icon <?js= env.conf.opts.jsdocp.menu.package === 'none' ? 'jsdocp-remove-me' : '' ?>">
    <?js if (env.conf.opts.jsdocp.menu.package && env.conf.opts.jsdocp.menu.package !== 'none') { ?>
      <img src="<?js= env.conf.opts.jsdocp.menu.package ?>" style="<?js= env.conf.opts.jsdocp.menu.icons.style ?>" />
    <?js } else { ?>
    <svg version="1.1" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
      <g class="jsdocp-icon-svg-el <?js= env.conf.opts.jsdocp.menu.icons.className ?>" stroke="none" transform="translate(0,24) scale(0.1,-0.1)">
        <path d="M 0,120 0,0 l 120,0 120,0 0,120 0,120 -120,0 -120,0 z m 200,0 c 0,-73 0.23256,-80 0.23256,-80 0,0 -27.97435,0.741211 -40.61273,0.707427 C 159.61983,67.551504 160,70.949947 160,100 c 0,53 -2,60 -20,60 -18,0 -20,-7 -20,-60 l 0,-60 -40,0 -40,0 0,80 0,80 80,0 80,0 z"/>
      </g>
    </svg>
    <?js } ?>
  </a>
  <a href="CHANGELOG.html" id="jsdocpChangelog" title="Changelog" data-jsdocp-root-href="<?js= env.meta.publish.moduleURL ?>/CHANGELOG.html"
    class="jsdocp-icon <?js= env.conf.opts.jsdocp.menu.package === 'none' ? 'jsdocp-remove-me' : '' ?>">
    <?js if (env.conf.opts.jsdocp.menu.changelog && env.conf.opts.jsdocp.menu.changelog !== 'none') { ?>
      <img src="<?js= env.conf.opts.jsdocp.menu.changelog ?>" class="<?js= env.conf.opts.jsdocp.menu.icons.className ?>" />
    <?js } else { ?>
    <svg version="1.1" viewBox="0 0 64 64" height="64" width="64" xmlns="http://www.w3.org/2000/svg">
      <path class="jsdocp-icon-svg-el <?js= env.conf.opts.jsdocp.menu.icons.className ?>" stroke="none" fill-rule="nonzero"
        d="M 29.896194,0.97873581 C 13.435048,0.97873581 1.1072664e-7,15.139296 0,32.489368 0,49.839439 13.435048,64 29.896194,64 46.357339,64 59.792385,49.839438 59.792388,32.489368 a 4.2273908,4.4556761 0 1 0 -8.453721,0 c -10e-7,12.534501 -9.550175,22.600399 -21.442473,22.600399 -11.892299,0 -21.4424739,-10.065899 -21.4424739,-22.600399 0,-12.5345 9.5501749,-22.6003988 21.4424739,-22.6003988 a 4.2273908,4.4556761 0 1 0 0,-8.91023339 z" />
      <path class="jsdocp-icon-svg-el <?js= env.conf.opts.jsdocp.menu.icons.className ?>" stroke="none" fill-rule="nonzero"
        d="m 55.529412,24.680907 -8.470588,10.142582 16.941176,0 z"/>
      <rect class="jsdocp-icon-svg-el <?js= env.conf.opts.jsdocp.menu.icons.className ?>" stroke="none" fill-rule="nonzero"
        transform="matrix(0.6882785,0.72544656,-0.6882785,0.72544656,0,0)" y="-38.592953" x="38.592953" height="39.814472" width="11.375563" />
      <path class="jsdocp-icon-svg-el <?js= env.conf.opts.jsdocp.menu.icons.className ?>" stroke="none" fill-rule="nonzero"
        d="m 23.705056,39.295314 8.338477,-1.11407 -7.281487,-7.674698 z"/>
    </svg>
    <?js } ?>
  </a>
  <a href="<?js= env.meta.package.homepage ?>" id="jsdocpSourceCode" title="Source Code"
    class="jsdocp-icon <?js= env.conf.opts.jsdocp.menu.package === 'none' ? 'jsdocp-remove-me' : '' ?>">
    <?js if (env.conf.opts.jsdocp.menu.sourceCode && env.conf.opts.jsdocp.menu.sourceCode !== 'none') { ?>
      <img src="<?js= env.conf.opts.jsdocp.menu.sourceCode ?>" class="<?js= env.conf.opts.jsdocp.menu.icons.className ?>" />
    <?js } else { ?>
    <svg version="1.1" viewBox="0 0 10 16" width="24" height="24" xmlns="http://www.w3.org/2000/svg" id="jsdocpSourceIcon">
      <path class="jsdocp-icon-svg-el <?js= env.conf.opts.jsdocp.menu.icons.className ?>" stroke="none" fill-rule="evenodd"
        d="M8 1a1.993 1.993 0 0 0-1 3.72V6L5 8 3 6V4.72A1.993 1.993 0 0 0 2 1a1.993 1.993 0 0 0-1 3.72V6.5l3 3v1.78A1.993 1.993 0 0 0 5 15a1.993 1.993 0 0 0 1-3.72V9.5l3-3V4.72A1.993 1.993 0 0 0 8 1zM2 4.2C1.34 4.2.8 3.65.8 3c0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3 10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2zm3-10c-.66 0-1.2-.55-1.2-1.2 0-.65.55-1.2 1.2-1.2.65 0 1.2.55 1.2 1.2 0 .65-.55 1.2-1.2 1.2z"></path>
    </svg>
    <!-- GitHub icon -->
    <svg version="1.1" viewBox="0 0 16 16" height="24" width="24" xmlns="http://www.w3.org/2000/svg" class="jsdocp-remove-me" id="jsdocpGithubIcon">
      <path class="jsdocp-icon-svg-el <?js= env.conf.opts.jsdocp.menu.icons.className ?>" stroke="none"  fill-rule="evenodd"
        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
    </svg>
    <?js } ?>
  </a>
  <!-- versions.json should point to the latest list -->
  <a id="jsdocpVersionsIcon" class="jsdocp-icon <?js= env.conf.opts.jsdocp.menu.versions === 'none' ? 'jsdocp-remove-me' : '' ?>">
    <?js if (env.conf.opts.jsdocp.menu.versions && env.conf.opts.jsdocp.menu.versions !== 'none') { ?>
      <img src="<?js= env.conf.opts.jsdocp.menu.versions ?>" class="<?js= env.conf.opts.jsdocp.menu.icons.className ?>" />
    <?js } else { ?>
    <svg version="1.1" viewBox="0 0 64 64" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path class="jsdocp-icon-svg-el <?js= env.conf.opts.jsdocp.menu.icons.className ?>" stroke="none" fill-rule="nonzero"
        d="m 63.999999,25.315556 -24.108295,0 9.74288,-10.026667 C 39.927261,5.6888885 24.210644,5.3333335 14.503322,14.933333 c -9.7073234,9.635555 -9.7073234,25.173334 0,34.808888 9.707322,9.635556 25.423939,9.635556 35.131262,0 4.835883,-4.764443 7.253823,-10.346666 7.253823,-17.386666 l 7.111592,0 c 0,7.039999 -3.1291,16.177777 -9.387301,22.364444 -12.480844,12.373334 -32.748879,12.373334 -45.2297224,0 -12.445286,-12.337778 -12.55196,-32.39111 -0.071116,-44.7288881 12.4808434,-12.3377774 32.4999734,-12.3377774 44.9808174,0 L 64,-5e-7 64,25.315556 Z" />
      <path class="jsdocp-icon-svg-el <?js= env.conf.opts.jsdocp.menu.icons.className ?>" stroke="none" fill-rule="nonzero"
        d="m 33.775734,17.777777 0,15.111111 12.445286,7.395556 -2.560173,4.302222 -15.218806,-9.031112 0,-17.777777 5.333693,0 z" />
    </svg>
    <?js } ?>
  </a>
  <select id="jsdocpVersions" title="v<?js= env.meta.package.version ?>" data-jsdocp-version-base="/<?js= env.meta.package.name ?>"
    data-jsdocp-json-url="/<?js= env.meta.package.name ?>/versions.json"
    data-jsdocp-type="<?js= (env.conf.opts.jsdocp.versions && env.conf.opts.jsdocp.versions.type) || '' ?>"
    data-jsdocp-from="<?js= (env.conf.opts.jsdocp.versions && env.conf.opts.jsdocp.versions.from) || '' ?>"
    data-jsdocp-version="<?js= env.meta.package.version ?>">
    <option value="" selected><?js= env.meta.package.version ?></option>
  </select>
</div>